# Node
node_modules/

# Python
venv/
__pycache__/
*.pyc

# Environment
.env
.env.*
!.env.example
!**/.env.example

# Logs
*.log

# VS Code
.vscode/

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db
.vercel
.env*
